<div>
  <mat-toolbar color="primary">
      <span>
          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </span>
    <span class="example-fill-remaining-space"></span>
    
    <span>Welcome!! Please save your time</span>
  </mat-toolbar>
  
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Register</button>
  </mat-menu>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>